*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    background: linear-gradient(rgba(161, 59, 0, 0.8),rgba(161, 59, 0, 0.8)), url(img/bg.jpg);
    background-size: cover;
    /* background-color: rgb(251, 110, 27); */
}
.app{
    background-color: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: rgba(161, 59, 0);
    font-weight: 600;
    border-bottom: 1px solid rgb(51, 51, 51);
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: rgba(161, 59, 0);
    font-weight: 600;
}
.btn{
    background-color: white;
    color: rgb(34, 34, 34);
    font-weight: 500;
    width: 100%;
    border: 1px solid rgb(34, 34, 34);
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover:not([disabled]){
    background-color: rgb(34, 34, 34);
    color: white;
}
.btn:disabled{
    cursor: no-drop;
}
#next-button{
    background-color: rgba(161, 59, 0);
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
    background-color: rgb(154, 234, 188);
}
.incorrect{
    background-color: rgb(255, 147, 147);
}